////////
// GRID
////////
*, 
*:before, 
*:after { 
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%; 
}

.container {
  margin: 0 auto;
  max-width: 320px;
  width: 100%;
} 


@for $i from 1 through 12 {
  .col-#{$i} { 
    flex: 0 0 100% / 12 * $i;
    max-width: 100% / 12 * $i 
  }
}

  // OFFSET
@for $i from 1 through 12 {
  .col-offset-#{$i} { 
    margin-left: 100% / 12 * $i;
  }
}

@include breakpoint(sm) {
  
  .container {
    max-width: $sm;
  }

}

//================//
// MD BREAKPOINT //
//================//

@include breakpoint(md) {
 
  .container {
    max-width: $md;
  }

}

//================//
// XL BREAKPOINT //
//================//

@include breakpoint(xl) {
 
  .container{
    max-width: $xl; 
  }

}

