body {
	position: relative;
	background-color: $white;
	overflow: hidden;
	font-family: $f-mukta;
	height: 100vh;
}

a {
	position: relative;
	display: inline-block;
	text-decoration: none;
	color: $black;
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 1;
		height: 2px;
		width: 0%;
		background-color: $c-grey-dark; 
		transition: width 0.3s ease-in-out;
	}
 
	&:hover:after {
		width: 100%;
	}
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

input[type=radio] {
	opacity: 0;
	cursor: pointer;
}

.quiz { 
	height: 100vh;
	background-color: $white;

	&--hide {
		display: none;
	}
	&__container {
		position: relative;
		max-width: 450px;
		min-height: 185px;
		top: 50%;
		transform: translateY(-50%);
		margin: 0 auto;
	}
	&__question {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-500%, -50%);
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-content: center;
		text-align: center;
		transition: all 0.3s ease-in-out;

		&--current {
			opacity: 1;
			transform: translate(-50%, -50%);
		}
	}

	&__title {
		display: block;
		font-weight: bold;
		font-size: 24px;
		margin-bottom: 15px;
	}

	&__radio {
		position: relative;
	}

	input {
		display: block;
	}

	input[type=radio]:checked ~ label {
		background: $black;
		color: $white;
	}

	label {
		display: inline-block;
		padding: 5px;
		border: 1px solid #CCC;
		cursor: pointer;
		background-color: $c-purple;
		color: $white;
		width: 100%;
		min-height: $height-btn;
		padding: 15px;
		font-size: 20px;
		font-weight: bold;
		line-height: 20px;
		border: 1px solid $c-purple;
		border-radius: #{($height-btn/2) * 0.9};
		transition: all 0.3s ease-in-out;
		&:hover {
			background-color: $c-purple-hover;
		}

		&:focus {
			outline: none;
		}
	}

	&__counter {
		position: absolute;
		bottom: -30px;
		right: 20px;
		font-family: $f-mukta;   
	}

} 
 